<%- include("partials/header") -%>
<div class="heading-box">
  <h4><%= todayDate %> </h4>
  <h4 id="onlineTime"> </h4>
</div>

<div id="form-box" class="box">
  <h1>Compose</h1>
  <hr>
  <form action="/compose" method="post">
    <h3>Title</h3>
    <input name="postTitle" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    <h3>Post</h3>
    <textarea name="postContent" style="height:300px" class="form-control" aria-label="With textarea"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>


<%- include("partials/footer") -%>
